    <div class="">
      <ul>
          <li >
              <a href="{{pagination.pagenav}}page={{pagination.previous}}&hits={{pagination.hits}}"><<</a>
          </li>
                {% for pagenum in pagination.pagelist %}
                    {% if pagenum %}
        	            {% ifequal pagenum pagination.page %}
                            <li >
                                <a href="javascript:void(0);" style="color:#fff;background-color:#ba1a22;">{{pagenum}}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{pagination.pagenav}}page={{pagenum}}&hits={{pagination.hits}}" >{{pagenum}}</a>
                            </li>
                        {% endifequal %}
                    {% else %}
                            <li>
                                <a href="#" >...</a>
                            </li>
                    {% endif %}
                {% endfor %}
          <li >
              <a href="{{pagination.pagenav}}page={{pagination.next}}&hits={{pagination.hits}}">>></a>
          </li>

      </ul>
      <div class="">
        共{{pagination.pages}}页，{{pagination.hits}}条记录
      </div>
    </div>